.score {
  display: flex;
  flex-direction: column;
  background-color: #182128;
  padding: 12px 6px;
  height: 78%;
  margin-right: 11px;
  justify-content: space-between;
  border-radius: 8px;

  &__number {
    text-align: center;

    &--empty {
      color: rgba(255, 255, 255, 0.2);
    }
  }

  &__flag {
    width: 37px;
    height: 26px;
    border-radius: 4px;

    &--first {

      &--fill {
        background-image: url(../../../../../../images/UA.png);
      }
    }

    &--second {
      &--fill {
        background-image: url(../../../../../../images/flags/CA.png);
      }
    }

    &--empty {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}