.gridtopbar {
  display: flex;
  justify-content: space-between;
  grid-column: 1/13;

  &__text {
    font-size: 16px;
  }

  &__button {
    background-color: #182128;
    border: none;
    width: 20px;
    height: 20px;
    background-image: url(../../../../images/local_hospital.png);
    background-repeat: no-repeat;
    background-size: 50%;

    &:hover {
      cursor: pointer;
    }
  }
}