.columns-block {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  height: fit-content;

  &__column {
    transition: 0.3s;
    background-color: #2A353F;
    padding: 12px;
    border-radius: 18px;
    padding-top: 22px;
    padding-right: 20px;
    padding-left: 20px;

    &--first {
      grid-column: 1/5;

      &--quarter {
        display: none;
      }
    };

    &--second {
      grid-column: 5/9;

      &--quarter {
        grid-column: 1/5;
      }
    }

    &--third {
      grid-column: 9/13;

      &--quarter {
        grid-column: 5/9;
      }
    }

    &--fourth {
      display: none;

      &--quarter {
        grid-column: 9/13;
        display: block;
      }
    }
  }

  &__rounds {
    text-transform: uppercase;
    background-color: #525D67;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #313C44;
    border-radius: 8px;
  }
}