.cell {
  display: flex;
  /* padding: 12px; */
  box-sizing: border-box;
  /* border: 1px solid #182128; */
  border-radius: 16px;
  margin: 6px auto;
  width: 100%;
  margin-bottom: 12px;
  /* background-color: #313C44; */
  /* position: relative; */
  transition: 0.3s;

  &:hover {
    scale: 1.08;
  }

  &__team-box {
    width: 100%;
  }

  &:after {
    content: '';
    border-top: 2px solid #fff;
    position: absolute;
    height: 60px;
    width: 4px;
    right: 0;
    bottom: 30%;
    transform: translateX(100%);
    border-right: 2px solid #fff;
    border-top-right-radius: 8px;
    border-bottom: 2px solid #fff;
    border-bottom-right-radius: 8px;
  }

  &__team {
    margin-bottom: 6px;
    width: 100%;

    &--second {
      margin-bottom: 0;
    }
  }

  &__court {
    margin-bottom: 12px;
    font-size: 12px;
    margin-left: 55px;
  }
}