.buttons {
  margin-top: 15px;
  display: flex;
  width: 100%;
  grid-column: 1/13;
  justify-content: flex-end;
  box-sizing: border-box;

  &__button {
    background-color: #313C44;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    transition: 0.3s;
    border: none;
    font-size: 18px;
    color: #fff;

    &:hover {
      cursor: pointer;
      background-color: #182128;
      border: 1px solid #313C44;
    }
  }
}

.buttonsFinal {
  justify-content: flex-start;
}
