.buttons {
  display: flex;
  width: 100%;
  grid-column: 1/13;
  justify-content: flex-start;
  box-sizing: border-box;

  &--start {
    justify-content: flex-end;
  }

  &__button {
    text-transform: uppercase;
    background: rgba(0, 66, 105, 0.07);
    padding: 20px;
    border-radius: 4px;
    min-width: 200px;
    text-align: center;
    transition: 0.3s;
    border: none;
    font-size: 18px;
    color: #B8BBC1;
    border: 1px solid rgba(0, 66, 105, 0.07);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    &:hover {
      cursor: pointer;
      background-color: #182128;
      border: 1px solid #313C44;
    }
  }

  &__icon {
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: contain;

    &--next {
      background-image: url(../../../../images/Right.png);
      margin-left: 24px;
    }

    &--prev {
      background-image: url(../../../../images/Left.png);
      margin-right: 24px;
    }
  }

  &--hide {
    display: none;
  }
}

.buttonsquarter {
  justify-content: flex-start;
}
